# Backup files
*.bak

# Config files
*.conf

# SSL/TLS Certificates
*.crt

# Data files
*.info
*.json
*.xml

# Playbook retries
*.retry

# RPM packages
*.rpm

# Archives
*.tar
*.tar.bz2
*.tar.gz
*.tar.xz
*.tbz2
*.tgz
*.txz
*.zip

# RH Workstation Files
roles/rhworkstation/files
